<table class='table'>
  <tr>
    <div class="mb-2"><%= image_tag user.get_profile_image(200,200) %></div>
  </tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
</table>