<script>window.confirm('sss');</script>

<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
  </div>

  <div class='row'>
    <p class="text-center" style ="color:#00ffff">このページでは、JavaScriptを用いて実装するページ</p>
  </div>

  <div class="row">
      <script>alert('こちらは、aboutページです。');</script>
      <button id="button3" onmouseover="mouseOver1()">カーソルを当ててね</button>
      <script>
       $(function(){
          $('#button3').mouseover(function(){
            $('#button3').css({'background-color': '#0000FF'});
          });
          $('#button3').mouseout(function(){
            $('#button3').css({'background-color': '#FF0000'});
          });
        });
      </script>
  </div>
</div>